.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  color: var(--primary);
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--secondary);
  gap: 20px;
  font-size: 18px;
  text-transform: capitalize;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 200ms;
}

.navbar button:hover {
  background: var(--secondary);
  color: #fff;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--secondary);
}

.navbar-search-icon {
  position: relative;
}

.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background: var(--primary);
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

/* Media Queries */
@media screen and (max-width: 1050px) {
  .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 23px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
